NODE_ENV=production
PORT=5001
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=chat_ia
DB_PASSWORD=
DB_NAME=chat_ia
JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=7d
DEEPSEEK_API_KEY=
DEEPSEEK_API_URL=https://api.deepseek.com/v1
FRONTEND_URL=https://chat.amarsyll.pro
